
/* PHONE CHECKER */

.phone_block {
    background: black;
    padding: 100px 0;
}

.inner_phone_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid  #de9f90;
    height: 300px;
    border-radius: 20px;
    align-items: center;
}

.form_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_phone button {
    width: 100%;
    margin: 20px 0;
}

/* TAB SLIDER */

.cakes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background: black;
}
.cakeCard{
    width: 300px;
    border: 1px solid rgb(244, 171, 183);
    display:  flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.cakeCard img{
    width: 200px;
    height: 150px;
    margin-top: 20px;
    padding-top: 5px;
    border-radius: 10px;
}
h1{
    font-size: 15px;
    margin-top: 5px;
    color: #98be1d;
}
span {
    font-size: 10px;
    margin-left: 10px;
    margin-bottom:  10px;
    color: rgb(160, 138, 12);
}
p{
    color: violet;
    margin-bottom: 30px;
}

/*------CARD SWITCHER------*/

.card_switcher {
    background-color: black;
    padding: 100px 0;
}

.card {
    width: 500px;
    height: 150px;
    border: 1px solid #de9f90;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.card p {
    color:  #de9f90;
    font-size: 20px;
}

.card span {
    color: white;
    font-size: 30px;
}

.inner_card_switcher {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*-------CONVERTER--------*/


.converter {
    padding: 100px 0;
    background-color: black;
}

.inner_converter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.inner_converter > div {
    display: flex;
    flex-direction: column;
}

/*------WEATHER------*/

.weather {
    padding: 100px 0;
    background-color: black;
}

.inner_weather > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 25px;
}

.inner_weather {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

hr {
    width: 100%;
}
img{
    width: 85px;
    border-radius:  10px;
    border:  1px solid purple;
}